body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #301934;
}

.slider-container {
  width: 800px;
  height: 460px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  background-color: #710193;
  line-height: 1.6;
  
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

h3{
	font-size: 22px;
	color: white;
	text-align: center;
	font-family: "Courier New", "Lucida Console", monospace;
	
}
.line{
	width: 800px;
	height: 2px;
	background-color: #301934;
	
}

p{
	color: #301934;
	font-size: 18px;
	font-family: "Courier New", "Lucida Console", monospace;
}
.page{
	margin-bottom: 0px;
	color: #301934;
	
}

.button-container {
  margin: 20px;
  margin-top: 20px;
  
}



